.input {
    &__wrap {
        position: relative;
        display: block;
    }

    &__label {
        @extend %sr-only;
    }

    &__control {
        padding: 11px 16px;
        background-color: #fff;
        border-radius: 8px;
        font-size: 14px;
        width: 100%;
        font-variation-settings: "wght" 400;
        border: 1px solid #d4d4de;

        @include media-breakpoint-down(md) {
            font-size: 16px;
        }

        &::placeholder {
            opacity: 0.5;
        }
    }

    &__notice {
        display: none;
        position: absolute;
        top: -20px;
        font-size: 12px;
        left: 0;
        color: #db0000;
        width: 100%;
    }

    &__reset {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 16px;
        width: 16px;
        height: 16px;
        background-color: var(--graphite);
        opacity: 0.2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 50%;
        stroke: #fff;

        @include media-breakpoint-down(md) {
            bottom: unset;
            right: 0;
            top: 3px;
        }

        svg {
            width: 8px;
            height: 8px;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 16px;
        stroke: var(--graphite);
        margin: auto;
        width: 20px;
        height: 20px;

        @include media-breakpoint-down(md) {
            width: 16px;
            height: 16px;
            left: 0;
            top: 3px;
            bottom: unset;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &.error {
        .input__control {
            border-color: #db0000;
        }

        .input__notice {
            display: block;

            @include media-breakpoint-down(lg) {
                display: none;
             }
        }
    }

    &--search {
        .input__control {
            padding-right: 52px;
            padding-left: 52px;
            background-color: #f4f4f4;
            border-color: #fff;

            @include media-breakpoint-down(md) {
                padding: 12px 24px;
                padding-top: 0;
                border-radius: 0;
                background-color: transparent;
                border-bottom: 1px solid #d4d4de;
            }
        }
    }

    &--search-small {
        .input__control {
            padding: 10px 16px;
            background-color: #f4f4f4;
            border-color: #fff;
        }
    }
}
