.select {
    &--big {
        width: 430px;

        .select__control {
            width: 430px;

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        .select__wrap {
            width: fit-content;

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }

    &--categories {
        .select__control {
            padding-left: 44px;
            width: 252px;

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        .select__btn {
            padding-left: 44px;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    &--active {
        z-index: 100;

        .select__dropdown-wrap {
            display: block;
        }

        .select__wrap {
            &::before {
                opacity: 1;
                transition: 250ms;
            }

            &::after {
                transition: 500ms;
                transform: rotate(180deg);
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5 5L1 0.999999' stroke='%230D1824' stroke-width='1.5'/%3E%3C/svg%3E%0A");
            }
        }
    }

    &__label {
        cursor: pointer;
    }

    &__icon {
        width: 32px;
        height: 32px;
        display: block;
        object-fit: contain;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__category-icon {
        width: 20px;
        height: 20px;
        display: block;
        object-fit: contain;
        position: absolute;
        left: 16px;
        top: 0;
        bottom: 0;
        margin: auto;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__wrap {
        position: relative;
        width: fit-content;
        z-index: 10;
        
        &::before {
            content: "";
            position: absolute;
            left: -1px;
            top: -1px;
            display: block;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            border-radius: 60px;
            z-index: -1;
            opacity: 0;
            transition: 250ms;
            pointer-events: none;
        }

        &::after {
            content: "";
            display: block;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5 5L1 0.999999' stroke='%230D1824' stroke-width='1.5'/%3E%3C/svg%3E%0A");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 10px;
            right: 16px;
            margin: auto;
            height: 8px;
            margin-left: auto;
            transition: 500ms;
            pointer-events: none;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__control {
        display: block;
        align-items: center;
        gap: 10px;
        padding: 14px 16px;
        padding-right: 32px;
        border: 1px solid var(--border-gray);
        border-radius: 8px;
        height: fit-content;
        text-decoration: none;
        width: 100%;
        color: var(--graphite);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-variation-settings: "wght" 400;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

        &::placeholder {
            opacity: 0.5;
        }
    }

    &__dropdown-wrap {
        margin-right: 20px;
        background: var(--white);
        padding: 8px;
        border-radius: 8px;
        width: 100%;
        position: absolute;
        left: 0;
        top: calc(100% + 4px);
        display: none;
        box-shadow: 0 4px 52px 0 rgba(41 44 106 / 8%);
    }

    &__list {
        @extend %scrollbar;

        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: calc(100% - 8px);
        max-height: 240px;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__btn {
        padding: 8px;
        font-variation-settings: "wght" 400;
        font-size: 14px;
        transition: 500ms;
        width: 100%;
        position: relative;

        &:hover {
            transition: 500ms;
            background: var(--gray);
            border-radius: 8px;
            color: var(--accent);
        }
    }

    &__notice {
        display: none;
    }
}