.textarea {
    &__wrap {
        position: relative;
        display: block;
    }

    &__label {
        @extend %sr-only;
    }

    &__control {
        padding: 16px;
        background-color: #fff;
        border-radius: 8px;
        font-size: 14px;
        width: 100%;
        font-variation-settings: "wght" 400;
        border: 1px solid #D4D4DE;
        height: 88px;

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }

        &::placeholder {
            opacity: 0.5;
        }
    }

    &__notice {
        display: none;
    }

}
