<div class='{{class}} input-file' data-name="{{name}}">

    <div class='input-file__wrap'>
        <label class="input-file__control-wrap">
            
            <span class='input-file__label'>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9 10.25C9.1 10.25 9.19 10.27 9.29 10.31C9.57 10.42 9.75 10.7 9.75 11L9.75 17C9.75 17.41 9.41 17.75 9 17.75C8.59 17.75 8.25 17.41 8.25 17L8.25 12.81L7.53 13.53C7.24 13.82 6.76 13.82 6.47 13.53C6.18 13.24 6.18 12.76 6.47 12.47L8.47 10.47C8.61 10.33 8.81 10.25 9 10.25Z"
                        fill="black" />
                    <path
                        d="M8.99859 10.2501C9.18859 10.2501 9.37859 10.3201 9.52859 10.4701L11.5286 12.4701C11.8186 12.7601 11.8186 13.2401 11.5286 13.5301C11.2386 13.8201 10.7586 13.8201 10.4686 13.5301L8.46859 11.5301C8.17859 11.2401 8.17859 10.7601 8.46859 10.4701C8.61859 10.3201 8.80859 10.2501 8.99859 10.2501Z"
                        fill="black" />
                    <path
                        d="M15 22.75H9C3.57 22.75 1.25 20.43 1.25 15V9C1.25 3.57 3.57 1.25 9 1.25H14C14.41 1.25 14.75 1.59 14.75 2C14.75 2.41 14.41 2.75 14 2.75H9C4.39 2.75 2.75 4.39 2.75 9V15C2.75 19.61 4.39 21.25 9 21.25H15C19.61 21.25 21.25 19.61 21.25 15V10C21.25 9.59 21.59 9.25 22 9.25C22.41 9.25 22.75 9.59 22.75 10V15C22.75 20.43 20.43 22.75 15 22.75Z"
                        fill="black" />
                    <path
                        d="M22 10.75H18C14.58 10.75 13.25 9.41999 13.25 5.99999V1.99999C13.25 1.69999 13.43 1.41999 13.71 1.30999C13.99 1.18999 14.31 1.25999 14.53 1.46999L22.53 9.46999C22.74 9.67999 22.81 10.01 22.69 10.29C22.57 10.57 22.3 10.75 22 10.75ZM14.75 3.80999V5.99999C14.75 8.57999 15.42 9.24999 18 9.24999H20.19L14.75 3.80999Z"
                        fill="black" />
                </svg>

                {{#unless label}}
                Загрузить документ
                {{/unless}}

                {{#if label}} {{label}} {{/if}}
            </span>

            <span class="input-file__files">
                <var></var>
                <span class="input-file__clear">{{> components/sprite name="close" width="6" height="6" }}</span>
            </span>

            <input type='file' name="{{name}}" class='input-file__control' {{#if required}} required {{/if}} />
        </label>
        <small class="input-file__notice">
            Заполните это поле
        </small>
    </div>

</div>