<div class='{{class}} radio'>
    <label class='radio__wrap'>
        <input type='radio' name="{{name}}" class='radio__control' {{#if required}} required {{/if}} {{#if checked}}
            checked {{/if}}>
        </input>
        <span class='radio__label'>
            {{label}}
        </span>
    </label>
</div>