.mb-0 {
    margin-bottom: 0;
}

%section-head {
    margin-bottom: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
        justify-content: center;
        margin-bottom: 24px;
    }
}