:root {
    --accent: #0d6dca;
    --graphite: #000;
    --light-graphite: #1b1b1b;
    --section-margin: 56px;
    --gray: #f2f2f5;
    --white: #fff;
    --dark-gray: #727272;
    --bg-blue: #ecf5ff;
    --border-gray: #d4d4de;
    --red: #e5252a;

    @include media-breakpoint-down(md) {
        --section-margin: 40px;
    }
}