<!DOCTYPE html>
<html lang="{{meta.locale}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {{title}}
    </title>
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link href="@/assets/scss/index.scss" rel="stylesheet" />
    <script src="@/assets/ts/index.ts" defer></script>

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <a href="/" class="header__logo">
                    {{> utils/picture src='@/assets/img/logo.png' alt='logo' class='header__logo-img' }}

                    <div class="header__logo-title">Status Board</div>
                </a>
            </div>
        </div>
    </header>

    <div class="ticker">
        <div class="ticker__wrap">
            <div class="container ticker__content">
                <div class="ticker__title"> NEWS: </div>
                <marquee class="ticker__list">
                    Строители вышли на демонтаж в ГКБ Филатова • На производстве в Китае добавили робот верификатор • На
                    производстве в Китае добавили робот верификатор
                </marquee>
            </div>
        </div>
    </div>