<nav aria-label="навигация по страницам" class="{{class}} pagination">

    <ul class="pagination__list">

        <li class="pagination__item">
            <a href="" aria-label="предыдущая страница" class="pagination__link pagination__link--prev">
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.22541 10.9486C6.59153 10.5825 6.59153 9.98891 6.22541 9.62279L2.60261 5.99999L6.22541 2.37719C6.59153 2.01107 6.59153 1.41748 6.22541 1.05136C5.8593 0.685247 5.2657 0.685247 4.89959 1.05136L0.613873 5.33708C0.247757 5.70319 0.247757 6.29679 0.613873 6.6629L4.89959 10.9486C5.2657 11.3147 5.8593 11.3147 6.22541 10.9486Z"
                        fill="black" />
                </svg>
            </a>
        </li>

        <li class="pagination__item">
            <a href="" aria-label="ссылка на страницу" class="pagination__link pagination__link--active">1</a>
        </li>

        <li class="pagination__item">
            <a href="" aria-label="ссылка на страницу" class="pagination__link">2</a>
        </li>

        <li class="pagination__item">
            <a href="" aria-label="ссылка на страницу" class="pagination__link">3</a>
        </li>

        <li class="pagination__item">
            ...
        </li>

        <li class="pagination__item">
            <a href="" aria-label="ссылка на страницу" class="pagination__link">19</a>
        </li>

        <li class="pagination__item">
            <a href="" aria-label="ссылка на страницу" class="pagination__link">20</a>
        </li>

        <li class="pagination__item">
            <a href="" aria-label="ссылка на страницу" class="pagination__link">21</a>
        </li>

        <li class="pagination__item">
            <a href="" aria-label="следующая страница" class="pagination__link pagination__link--next">
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.774587 10.9486C0.408471 10.5825 0.408471 9.98891 0.774587 9.62279L4.39739 5.99999L0.774587 2.37719C0.40847 2.01107 0.40847 1.41748 0.774587 1.05136C1.1407 0.685247 1.7343 0.685247 2.10041 1.05136L6.38613 5.33708C6.75224 5.70319 6.75224 6.29679 6.38613 6.6629L2.10041 10.9486C1.7343 11.3147 1.1407 11.3147 0.774587 10.9486Z"
                        fill="black" />
                </svg>
            </a>
        </li>

    </ul>

</nav>