.header {
    &__wrap {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    &__logo {
        display: flex;
        align-items: flex-start;
        gap: 10px;

        &-img {
            max-width: 260px;
            height: auto;

            img,
            svg {
                width: 100%;
                height: auto;
            }
        }

        &-title {
            color: #fff;
            padding: 10px 12px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 20px;
            box-shadow: 0 0 50px 0 rgba(80 54 234 / 10%);
            background: linear-gradient(90deg, #4880ff 0%, #2b4d99 100%);
        }
    }
}
